h2 {
  text-align: center;
}

#tables-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.table-cell {
  border: 2px solid;
  padding: 5px;
  width: 22vw;
  height: 22vw;
  margin: 5px 0;
  text-align: center;
}

.table-cell:hover {
  border: 2px solid blue;
}

.table-artwork {
  width: 22vw;
  height: 22vw;
}